{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": [2, "always"],
    "eol-last": [2, "always"],
    "no-console": ["warn", { "allow": ["warn"] }],
    "quotes": [2, "double", { "avoidEscape": true }],
    "max-len": ["warn", { "code": 120 }],
    "@typescript-eslint/no-inferrable-types": "off"
  }
}
